<%- include('./layouts/header.ejs') %>

<div class="container mt-5">
    <div class="row">
        <h1 class="text-center">Forget Password</h1>
        <div class="col-lg-4 mx-auto">
            <form  method="post">
                <div class="card mt-5">
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="">Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Enter Your Email" required>
                        </div>
                        <div class="mb-3">
                            <input type="submit"  class="btn btn-danger" value="Forget Password">
                        </div>
                    </div>
                </div>
            </form>


            <%
              if(typeof message !== 'undefined'){
                %>
                  <p><%= message %></p>
                <%  
              } 
            %>

        </div>
    </div>
</div>

<%- include('./layouts/footer.ejs') %>